<p id="notice"><%= notice %></p>

<p>
  <strong>Артикул:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Название:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Количество:</strong>
  <%= @product.quantity %>
</p>

<%= link_to 'Редактировать', edit_product_path(@product) %> |
<%= link_to 'Назад', products_path %>
